body{
  color: #f6f277;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "helvetica";
}

  #menu2{
    display:block;
    margin: 10px;
    float:left;
    padding: 55px;
    width: 10px;

  }

#menu2{
    display: none;
  }

  #menu2 hover{
    display:block;
    position:relative;
    left:-3.1rem;
  }

#menu2:hover li ul li{
    float:none;
  }
}

ul,ol, li {
    list-style: none inside;
}
ol{
  margin: 0 auto;
text-align: justify;
}

img{
  width: 975px;
  height: 800px;


}

li{
line-height: 1.5em;
text-align: center;
right: 30px;


}

div{
  padding-left: 25px;
  overflow: hidden;
}

h1,h2{
  width: 80%;
  margin: 0;
  padding: 0;

}

h1{
  font-size: 1.5em;
  line-height: 1em;
}

h2{
  font-size: 2em;
  line-height: 3em;
  font-family: "helvetica";
  text-align: justify;

}
h3{
  font-size: 2em;
  line-height: 2em;
  font-family: "helvetica";
  text-align: center;
color: #E53496;
}
p{
  width: 400px;
  text-align: justify;
}


#segon{
  background-color: #f8fabb
}

#segon h1{
 width: 80%;
 vertical-align: middle;

}
#segon div{
 width: 30%;

   vertical-align: middle;
   padding-left: 10%;
}
#segon ul{
 width: 20%;

   vertical-align: middle;
   padding-left: 8%;
}


a{
  text-decoration: none;
}
a:link{
  color: #e53496;
}
a:visited{
  color: #e53496;
}
a:hover{
  color: #e53496;
}
a:active{
  color: #e53496;
}



ul.img {

}
ul.img li {
    opacity: 0;
    transition: opacity .5s;
    left: 280px;
    top: 0px;
    margin: 25px;
    padding: 25px;

}
ul.img li:first-child {
    opacity: 1;
}
ul.img li:target {
    opacity: 1;
}

.UF1 {
  float: left;
  font-size: 2.5em;
  text-align: center;

}

.UF4{
  float: left;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 15px;

}


.cuadrado {
  width: 200px;
  height: 200px;
  border: 10px solid #a98840;
  background: blue;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  background-image: url(https://media4.giphy.com/media/JXHhI4o9NCf8k/giphy.gif);
}

.ejercicios{
  margin-top: 1000px;
  margin-left: 80px;
float: left;
background:;

}

.exercici0{
background-color: #fcd7d6;
width: 200px;
height: 200px;
margin-left: 30px;
float:left;
margin-top: 10px;
background-image: url(../img/1.2.png);
background-repeat: no-repeat;
background-size: cover;

}

.exercici01{
background-color: white;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/0.1.png);
background-repeat: no-repeat;
background-size: contain;
}

.exercici02{
background-color: pink;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/0.2.png);
background-repeat: no-repeat;
background-size: cover;

}

.exercici1{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/1.png);
background-repeat: no-repeat;
background-size: cover;

}

.exercici2{
background-color: purple;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/2.png);
background-repeat: no-repeat;
background-size: cover;
}

.exercici3{
background-color: black;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/3.png);
background-repeat: no-repeat;
background-size: cover;

}

.exercici4{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
margin-top: 10px;
float:left;
background-image: url(../img/4.png);
background-repeat: no-repeat;
background-size: cover;

}

.exercici5{
background-color: blue;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/5.png);
background-repeat: no-repeat;
background-size: cover;
}

.exercici6{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/6.png);
background-repeat: no-repeat;
background-size: cover;
}


.exercici7{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/7.png);
background-repeat: no-repeat;
background-size: cover;
}

.exercici8{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/8.png);
background-repeat: no-repeat;
background-size: contain;
}

.exercici9{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/9.png);
background-repeat: no-repeat;
background-size: cover;
}

.exerciciEX{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/Ex.png);
background-repeat: no-repeat;
background-size: cover;
}

.exerciciEX2{
background-color: silver;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/Ex2.png);
background-repeat: no-repeat;
background-size: cover;
}

.exercici15{
background-color: gold;
width: 200px;
height: 200px;
margin-left: 30px;
text-align: center;
margin-top: 10px;
float:left;
background-image: url(../img/15.png);
background-repeat: no-repeat;
background-size: cover;
}

.slide {
      position: sticky;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
      margin-top: 100px;
    }

    .slide-inner {
      position: sticky;
      overflow: hidden;
      width: 100%;
      height: calc( 300px + 3em);
    }

    .slide-open:checked + .slide-item {
      position: static;
      opacity: 100;
    }

    .slide-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;
    }

    .slide-item img {
      width: 1000px;
      height: 1000px;
      max-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slide-control {
      background: rgba(0, 0, 0, 0.28);
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: none;
      font-size: 40px;
      height: 40px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      cursor: pointer;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      width: 40px;
      z-index: 10;
    }

    .slide-control.prev {
      left: 2%;
    }

    .slide-control.next {
      right: 2%;
    }

    .slide-control:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #aaaaaa;
    }

    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3 {
      display: block;
    }

    .slide-indicador {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }

    .slide-indicador li {
      display: inline-block;
      margin: 0 5px;
    }

    .slide-circulo {
      color: #828282;
      cursor: pointer;
      display: block;
      font-size: 35px;
    }

    .slide-circulo:hover {
      color: #aaaaaa;
    }

    #slide-1:checked ~ .control-1 ~ .slide-indicador
      li:nth-child(1) .slide-circulo,
    #slide-2:checked ~ .control-2 ~ .slide-indicador
       li:nth-child(2) .slide-circulo,
    #slide-3:checked ~ .control-3 ~ .slide-indicador
       li:nth-child(3) .slide-circulo {

    }

    #titulo {
      width: 100%;
      position: absolute;
      padding: 0px;
      margin: 0px auto;
      text-align: center;
      font-size: 27px;
      color: rgba(255, 255, 255, 1);
      font-family: 'Open Sans', sans-serif;
      z-index: 9999;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
          -1px 0px 2px rgba(255, 255, 255, 0);
    }
