table{
  border: solid 1px;
  width: 600px;
  font-family: helvetica;
  font-size: 22px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px;
  text-align: center;
}

th{
  background-color: silver;
}

  .M07{
background-color: pink;
}

  .M08{
    background-color: aqua;
  }

  .M06{
    background-color: salmon;
  }

  .M09{
    background-color: yellow;
  }
