body{
  background: red;
  font-size: 1.5rem;
}

h1{
  clear: both;
}

nav ul li{
  background: yellow;
}


p:after{
  content: "";
  display: block;
  width: 6.35rem;
  height: 6.35rem;
}

@media screen and (min-width: 851px)and (orientation:landscape){

  body{
    background: olive;
    color: white;
  }
  p:after{
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background: url(img/icon0032.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav ul li{
    display: block;
    background: brown;
    margin: 0.1em;
    padding: 0.5rem;
    float: left;
    width: 10rem;
    position: relative;
  }

  nav ul li{
    display: none;
    padding: 0;
    margin: 0;
  }
  nav ul:hover > ul{
    display: block;
    position: absolute;
    top:0;
    left: 11.1rem;
  }
  nav ul:hover li ul li{
    float: none;
  }
}


@media screen and (max-width: 749px){

  body{
    background: pink;
  }
  p:after{
    content: "";
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background: url(img/icon0032.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav ul li{
    display: block;
    background: green;
    margin: 0.1em;
    padding: 0.5rem;
    float: left;
    width: 8rem;
    position:
  }

  nav ul li{
    display: none;
    padding: 0;
    margin: 0;
  }
  nav ul:hover li{
    display: block;
    position: relative;
    top: 0;
    left: 9rem;
  }
  nav ul:hover li ul li{
    float: none;
  }
}
